html { font-size: 22px; }
body { 
 
 background: #121212;
 
}


* {
margin: 0;
padding: 0;
}
/*
.btn{
 position: relative; 
 left: 20%; 
 transform: translate(-100%);
 padding: 4px 60px;
 background: #101010;
 top: -35px;
 color: white;
 text-decoration: none;
 font-weight: bold;
 border-radius: 8px;
 border: .5px solid mediumpurple;
 
}
*/

.A{
 background: url(https://media.discordapp.net/attachments/1005893392460423292/1035802914855337994/Screenshot_2022-10-28_233539.jpg) no-repeat;
 background-size: cover;
 background-position: center;
}

.Thumbnail{
 max-width: 1200px;
 height: 150px;
 
 border-radius: 9px;
}

.card {
  background-color: #212121;
  color: white;
  
  height: 150px;
  border-radius: 9px;
  box-shadow: 2.2px 2.2px 5px black;
}

.card:hover{
 box-shadow: 2.2px 2.2px 5px mediumpurple;
transition: .8s;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

